@import '../../node_modules/normalize.scss/normalize.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';


body{
    background-color: rgb(231, 231, 231);
    
    #card-platypus{
        margin: 20px auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */ 
    }

    .navbar {
        display: block;
    }

    h1, h4 {
        display: block;
        text-align: center;
    }

    .card {
        justify-content: center;
    }

    .btn1 {
        position : absolute ;
        max-height:80%;
        color : white;
        top : 10px;
        right : 1em;
    }
      

      
    #btn {
        max-width: 15%;
        text-align: left;
        visibility : visible;
        background-color: rgba(0, 0, 0, 0.445);
      
      
    }
      
    #btn2{
        max-width: 15%;
        text-align: left;
        visibility : hidden;
        background-color: rgb(231, 231, 231);
      
    }
      
    #nom {
        font-weight: bold;
    }
      


}

  
  
  
  
  

  
  
  
  
  
  
  